.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border: 3px solid #3498db;
    border-top: 3px solid blueviolet;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    border-style: dotted;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }