@import url('https://fonts.googleapis.com/css?family=${k}');


.active {
    border: 5px solid red;
}

.btn {
    opacity:0;
    display:block;
    animation: slidein 2s ease-out forwards;
  }
  
  
  @keyframes slidein{
    0%{ opacity:0; }
    100%{ opacity:1; }
  }


  .btn2 {
    opacity:0;
    display:block;
    animation: slidein 1s ease-out forwards;
  }